
/* ----------------------------------------------------
	FONTS AWESOME
-------------------------------------------------------*/

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	margin:0;
	padding:0;
}

/* icons style */
#MiniLeftNav .fa, #MiniRightNav .fa, #MiniHorzNav .fa{
	color:#fff;	
}
#MiniLeftNav .fa-2x, #MiniRightNav .fa-2x, #MiniHorzNav .fa-2x {
    font-size: 1.5em;
}

/* Minimal Vertical Left Navigation */
#MiniLeftNav li{
	list-style: outside none none;
    margin: 20px 0;
    padding: 0;
    width: 48px;
}
#MiniLeftNav li a{
    border:solid 1px #fff;
	display: block;
    padding: 7px;
    position: relative;
}
#MiniLeftNav span {
	font-family: 'Raleway', sans-serif;
	font-size:14px;
    font-weight: 400;
    letter-spacing: 1px;
	text-transform: uppercase;
	
    bottom: 0;
    left: 47px;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 0;
	
	/* CSS3 Transition: */
	-webkit-transition: 0.50s;

	/* Future proofing (these do not work yet): */
	-moz-transition: 0.50s;
	transition: 0.50s;
}
#MiniLeftNav a:hover span{ width:auto; padding:0 30px;overflow:visible; }
#MiniLeftNav a:hover{text-decoration:none;}
#MiniLeftNav a span{
	background-color:#fff;
	color:#3d4f0c;
}

/* Minimal Vertical Right Navigation */
#MiniRightNav {
    float: right;
    margin: 0;
        margin-top: 0px;
    padding: 0;
    margin-top: 12px;
}
#MiniRightNav li{
	list-style: outside none none;
    margin: 0 0 20px;
    padding: 0;
    width: 48px;
}
#MiniRightNav li a{
    border:solid 1px #fff;
	display: block;
    padding: 7px;
    position: relative;
}
#MiniRightNav span {
	font-family: 'Raleway', sans-serif;
	font-size:14px;
    font-weight: 400;
    letter-spacing: 1px;
	text-transform: uppercase;
	
    bottom: 0;
    right: 47px;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    transition: all 0.50s ease 0s;
    white-space: nowrap;
    width: 0;
}
#MiniRightNav a:hover span{ width:auto; padding:0 30px;overflow:visible; }
#MiniRightNav a:hover{text-decoration:none;}
#MiniRightNav a span{
	background-color:#fff;
	color:#3d4f0c;
}

/* Minimal Horizontal  Navigation */
#MiniHorzNav li {
    display: inline-block;
    list-style: outside none none;
    margin: 20px 0;
    padding: 0;
    width: 48px;
}
#MiniHorzNav li a{
    border:solid 1px #fff;
	display: block;
    padding: 7px;
    position: relative;
}
#MiniHorzNav span {
	font-family: 'Raleway', sans-serif;
	font-size:14px;
    font-weight: 400;
    letter-spacing: 1px;
	text-transform: uppercase;
	
    bottom: 0;
    left: 47px;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    transition: all 0.50s ease 0s;
    white-space: nowrap;
    width: 0;
}
#MiniHorzNav a:hover span{ width:auto; padding:0 30px;overflow:visible; }
#MiniHorzNav a:hover{text-decoration:none;}
#MiniHorzNav a span {
    background-color: #fff;
    color: #3d4f0c;
    z-index: 999;
}



